@charset "UTF-8";

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */


 /* Estilo geral */

 body {
    font-family: "Poppins", sans-serif;
    background-color: #191919;
    padding: 0;
    margin: 0;
}

 img {
    max-width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 10px auto;
}

.header-section {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: #cccccc;
}

.subtitle {
    font-size: 28px;
    font-weight: normal;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subtitle::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #e500ce;
}

/* Estilo geral */

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.info-menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0 10px;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #a7a7a7;
    transition: 1s;
}

.menu ul li a:hover {
    color: #e500ce;

}

/*  Apresentação */

#presentation {
    margin: 100x;
}

.info-presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-presentation h1 {
    font-size: 58px;
    color: #d9d9d9;
    line-height: 66px;
}

.info-presentation span {
    background: linear-gradient(
        90deg, 
        rgba(26,127,243,1) 0%, 
        rgba(107,109,214,1) 35%, 
        rgba(203,36,180,1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d9d9d9;
}

.profile-photo {
    width:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        rgba(203, 36, 180 ,1) 20%,
        rgba(26, 171, 243 ,1) 100%,
        rgba(107, 109, 214 ,1) 100%
    );
}

.profile-photo img {
    width: 335px;
}

.info-aboutme {
    font-size: 18px;
    color: #a7a7a7;

}

/* Tecnologias */

#technologies {
    margin: 100px 0;
}

.container-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
}

.container-icons {
    filter: grayscale(0);
    transition: filter 0.5s;

}

.container-icons img:hover {
    cursor: pointer;
    filter: grayscale(100);
}

/*  Projetos */

.info-projects {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.card-project {
    min-height: 600px;
    height: fit-content;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.info-card-project {
    padding: 28px;
}

.info-card-project h3 {
    color: #cccccc;
    font-size: 28px;
    font-weight: normal;
}

.info-card-project p {
    color: #cccccc;
    font-size: 18px;
    text-align: justify;
}

.legend-project {
    color: #cccccc;
    font-size: 14px;
}

.footer-project {
    display: flex;
    justify-content: space-between;
}

.url-project, .code-project {
    display: flex;
    align-items: center;
}

.url-project a, .code-project a {
    color: rgb(216, 120, 216);
    padding-left: 5px;

}

/* Depoimentos */

#depositions {
    margin: 100px 0;
}

.info-depositions {
    display: flex;
    flex-direction: column;   
}

.container-depositions {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.controls-depositions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.prev-depositions {
    border-radius: 15px;
    background-color: #f10677;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}

.next-depositions {
    border-radius: 15px;
    border: 1px solid #f10677;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}

.disable {
    opacity: 80%;
    pointer-events: none;
    background-color: #f2f2f2;
    box-shadow: none;
    cursor: not-allowed;
}

.outline-card-depositions {
    border: 1px solid #f10677;
    padding: 25px 28px;
    border-radius: 16px;
    height: 370px;
}

.outline-card-depositions p {
    color: #ffffff50;
    margin-top: 10px;
    
}

.outline-card-depositions::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(assets/quotes.svg);
    background-size: cover;
}

.justify-depositions {
    text-align: justify;
    text-indent: 30px;
}

.footer-card-depositions {
    display: flex;
    align-items: center;
    gap: 17px;
    border-radius: 10px;
    margin-top: 20px;
}

.info-personal-despositions {
    display: flex;
    flex-direction: column;
}

.name-depositions {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.occupation-depositions {
    font-size: 18px;
    font-weight: bold;
}


.fill-in-card-depositions {
    background-color: #f10677;
    padding: 25px 28px;
    border-radius: 16px;
    height: 370px;
}

.fill-in-card-depositions p {
    margin-top: 10px;
}

.fill-in-card-depositions::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(assets/quotes-white.svg);
    background-size: cover;
}

.occupation-color {
    color: black;
}

.fill-in-card-depositions, .occupation-depositions{
    font-size: 18px;
    font-weight: bold;
    color: white;
}